body{
background:hsl(0,0%,98%);
}
h1,h2,h3,h4,h5,h6{
color:hsl(0,0%,30%);
}

#cart_icon {
    width: 25px;
    margin-left: 14px;
    display: inline;
}

#cart_total {
    width: 15px;
    text-color:#fff;
    background-color: red;
    border-radius: 50%;
    margin-left: 0px;
    height: 24px;
    text-align: center;
}
.box-element{
box-shadow:hsl(0,0%,80%) 0 0 20px;
background-color:#fff;
padding:10px;
border-radius:20px 20px 20px 20px;
}
.col-lg-3,.col-lg-4,.col-lg-6,.col-lg-12,.col-lg-12{
margin-top:10px;
}

.thumbnail{
width:100%;
border-radius: 20px;
}
