{% extends 'frontend/master/master.html' %}
{% load static %}
{% block content %}
<div class="row">
    {% for product in products %}
    <div class="col-lg-4">
        <div class="box-element">
            <a href="{{product.image.url}}"><img src="{{product.image.url}}" alt="" class="thumbnail"></a>
            <h6><strong>{{product.name}}</strong></h6>
            <hr>
        <button type="button" class="btn btn-outline-dark">Add to Cart</button>
        <button class="btn-outline-success">View</button>
        <h4 style="display:inline-block;float:right"><strong>${{product.price|floatformat:2}}</strong></h4>
    </div>

    </div>
    {% endfor %}
</div>
{% endblock %}