{% extends 'frontend/master/master.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-lg-4">
    <div class="box-element">
        <img src="{% static 'images/placeholder.png' %}" alt="" class="thumbnail">
        <h6><strong>Product</strong></h6>
        <hr>
        <button class="btn btn-outline-second">Add To Cart</button>
        <button class="btn-outline-success">View</button>
        <h4 style="display:inline-block;float:right"><strong>$20</strong></h4>

    </div>
    </div>
    <div class="col-lg-4">
        <div class="box-element">
            <img src="{% static 'images/placeholder.png' %}" alt="" class="thumbnail">
            <h6><strong>Product</strong></h6>
            <hr>
        <button class="btn btn-outline-second">Add To Cart</button>
        <button class="btn-outline-success">View</button>
        <h4 style="display:inline-block;float:right"><strong>$20</strong></h4>

    </div>

    </div>
    <div class="col-lg-4">
        <div class="box-element">
            <img src="{% static 'images/placeholder.png' %}" alt="" class="thumbnail">
            <h6><strong>Product</strong></h6>
            <hr>
        <button class="btn btn-outline-second">Add To Cart</button>
        <button class="btn-outline-success">View</button>
        <h4 style="display:inline-block;float:right"><strong>$20</strong></h4>

    </div>

    </div>
</div>
{% endblock %}